<header>
    <div>
    <h1>Empresa XYZ</h1>
    </div>
    <div>
    <nav>
        <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#pricing">Pricing</a></li>
        <li><a href="#products">Products</a></li>
        <li><a href="#contactus">Contact Us</a></li>
        </ul>
    </nav>
    </div>
</header>