<section class="hero-panel">
    <picture>
        <source srcset="https://picsum.photos/id/{{backgroundId}}/1300/720" media="(min-width:1025px)" />
        <source srcset="https://picsum.photos/id/{{backgroundId}}/1024/640" media="(min-width:720px)" />
        <img src="https://picsum.photos/id/{{backgroundId}}/480/480" alt="Hero Panel Image" />
    </picture>
    <div class="hero-panel-action">
        <h2>{{actionMessage}}</h2>
    </div>
</section>